* {
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0 auto;
    text-align: center;
}

.nav h1 {
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}
img {
    width: 150px;
    height: 100px;
    margin-top: 40px;
}
ul {
    text-align: center;
    margin: 0 auto;
}

li {
    list-style: none;
}

